<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body>
    <div class="modal-container">
        <div class="overlay"></div>
        <div class="modal-wrapper">
            <form method="post" action="/signup">
                <div class="modal">
                    <div class="close-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#191515" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div> 
                    <header class="modal-header">SIGN UP NOW</header>
                    <div class="sign-up username-bar">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="name">
                    </div>
                    <div class="sign-up username-bar">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username">
                    </div>
                    <div class="sign-up password-bar">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password">
                    </div>
                    <button class="sign-up__submit" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <section class="signin-section">
        
        <div class="login-form__container">
            
            <form method="post">
                <div class="login-form">
                    <div class="username-bar">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username">
                    </div>
                    <div class="password-bar">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password">
                    </div>
                    <div class="login-btn">
                        <button class="signin-btn" type="submit">
                            Sign In
                        </button>
                        <div class="signup-btn">
                            Sign Up
                        </div>
                    </div>
                </div>
            </form>
        </div>
      
    </section>

    <script src="../static/js/custom/main.js"></script>
</body>

</html>